<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="ASM.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup><userSettings>
        <ASM.Properties.Settings>
            <setting name="TotalTickLimit" serializeAs="String">
                <value>1500</value>
            </setting>
            <setting name="Register32" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>a</string>
                        <string>b</string>
                        <string>c</string>
                        <string>d</string>
                        <string>x</string>
                        <string>n</string>
                        <string>r0</string>
                        <string>r1</string>
                        <string>r2</string>
                        <string>r3</string>
                        <string>r4</string>
                        <string>r5</string>
                        <string>r6</string>
                        <string>r7</string>
                        <string>r8</string>
                        <string>r9</string>
                        <string>r10</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="CommentChar" serializeAs="String">
                <value>;</value>
            </setting>
        </ASM.Properties.Settings>
    </userSettings>
</configuration>
